.header {
  padding: 0.6rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bgc {
  background-color: #121212;
}

.logo-section,
.nav-right {
  display: flex;
  align-items: center;
}

.links {
  text-decoration: none;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;
}

a > span:hover {
  color: #ffd700;
}

.logo {
  width: 60px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.search-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-input-container {
  width: 100%;
}

.search-results-wrapper {
  width: 80%;
  margin-top: 10px;
}

.search-result-card:hover {
  background-color: #313131;
}

.search-result-card {
  background-color: #1f1f1f;
  padding: 10px;
  border-bottom: 1px solid #4c4c4c;
}

.text-2 {
  color: #c2c2c2;
}

.search-result-img {
  height: 80px;
  border-radius: 4px;
}

.menu-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 17px;
  height: 2px;
  background-color: #fff;
  margin: 1.5px 0;
  transition: 0.4s;
  border-radius: 10;
}

.menu-word {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.watchlist-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.watchlist-text {
  font-size: 18px;
  font-weight: 600;
}

.circle {
  background-color: #e1b517;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
